<style>
  .nav-link{
    opacity: 0.8;
  }

  .nav-link:hover{
    opacity: 1;
  }
  #logo{
    color:brown;
    text-shadow: 5px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><b>Explore</b></a>
      </div>
      <div id="logo" class="ms-auto">
        <h2><b><i>TripChill</i></b></h2>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Post your Home</a>

        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>LogOut</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
